.userManage_container {
  display: flex;

  .content {
    width: 70%;
    margin: 0 5%;

    .user_manage {
      display: flex;

      .search {
        margin-right: 60%;
      }
    }

    .table {
      margin-top: 5%;
      display: flex;
      justify-content: center;
      align-items: center;

      .table-content {
        height: 350px;
      }
    }
  }
}
