// .voucher {
//     width: 140%;
//     border-collapse: separate;
//     border-spacing: 0;
//     border-radius: 10px;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//     margin-left: 30%;
//     margin-top: 20%;
// }

// .voucher thead {
//     background-color: #f8f8f8;
// }

// .voucher thead th {
//     padding: 12px 15px;
//     text-align: left;
//     font-weight: bold;
//     border-bottom: 1px solid #ddd;
// }

// .voucher tbody tr {
//     border-bottom: 1px solid #ddd;
// }

// .voucher tbody tr:nth-child(even) {
//     background-color: #f1eaeac3;
// }

// .voucher tbody td {
//     padding: 12px 15px;
//     text-align: left;
// }

// .voucher tbody tr:last-child {
//     border-bottom: none;
// }

// .voucher .action-btn {
//     background: none;
//     border: none;
//     color: #007bff;
//     cursor: pointer;
//     padding: 5px 10px;
//     font-size: 18px;
// }

// .voucher .action-btn:hover {
//     color: #0056b3;
// }

// .voucher tbody tr:hover {
//     background-color: #cec7c7;
// }

// .voucher .status-cancel .status-dot {
//     background-color: red;
//     border-radius: 50%;
//     display: inline-block;
//     height: 10px;
//     width: 10px;
//     margin-right: 5px;
// }

// .voucher .status-confirm .status-dot {
//     background-color: green;
//     border-radius: 50%;
//     display: inline-block;
//     height: 10px;
//     width: 10px;
//     margin-right: 5px;
// }

// .voucher .status-pending .status-dot {
//     background-color: yellow;
//     border-radius: 50%;
//     display: inline-block;
//     height: 10px;
//     width: 10px;
//     margin-right: 5px;
// }

.table-voucher {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 10%;
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 10px 5px rgba(199, 194, 194, 0.989); 


    thead {
        background-color: #f8f9fa;
        th {
            padding: 6px; 
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #dee2e6;
            font-size: 17px; 
        }
    }

    tbody {
        text-align: center;
        
        tr:nth-of-type(even) {
                background-color: #f2f2f2;
        }

        tr:hover {
                background-color: #e9ecef;
        }

        tr {
        td {
            padding: 7px; 
            border-bottom: 1px solid #dee2e6;
            font-size: 17px; 
        }
            
        }
    }
}
