.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #333;
  padding: 20px;
  width: 200px;
  height: 100vh;
  color: #fff;
  position: absolute;

  .navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .navbar-menu {
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      margin-bottom: 10px;
      width: 100%;
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      display: block;
      width: 100%;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    a:hover {
      background-color: #575757;
    }
  }
}

.navbar-menu .navbar-menu main {
  flex-grow: 1;
  padding: 20px;
}
