.inventory {
    width: 80%;
    margin: 80px auto 0; 
    box-shadow: 1px 1px 10px 5px rgba(180, 177, 177, 0.989); 
    background-color: #fff; 

    .inventory-th {
        height: 40px;
        background-color: #f8f9fa;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        line-height: 40px; 
        border-bottom: 1px solid #ddd; 

        .table-inventory-th {
            width: 100%;
            padding: 6px;
            table-layout: fixed;
        }
    }

    .inventory-tb {
        height: 400px;
        overflow: auto;

        .table-inventory-tb {
            width: 100%;
            padding: 10px;
            font-size: 15px;
            table-layout: fixed; 
            tr:nth-child(even) {
                background-color: #dcdee3;
            }

            td {
                padding: 10px 10px 10px 30px;
                text-align: center;
            }
        }
    }

    .action-btn {
        background: none;
        border: none;
        font-size: 16px;
        border-radius: 10px;
        border: 1px solid #000000;
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
          }
    }

    .create-inventory-btn {
        text-align: right;
    }

    .add-cancel {
        border: none;
        background-color: #00CCFF;
        border-radius: 20px;
        margin-left: 10px;
    }

    .code-dis {
        margin-left: 10px;
    }
}

.icon_btn {
    border-radius: 10px;
    border: 1px solid #ffffff;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      }
}