.manage-inventory-container {
  margin: 2.5% auto 0;
  width: 95%;
  .btn {
    border-radius: 20px;
    margin-bottom: 1rem;
    font-size: 14px;
    padding: 0.5rem 1rem;
  }

  .table-post {
    margin-top: 1rem;
  }

  .table-prodetail-th {
    width: 100%;
    padding: 6px;
    margin-left: 3%;
    table-layout: fixed;
  }

  th {
    padding: 20px;
    text-align: center;
  }

  .prodetail-tb {
    overflow: auto;

    .table-prodetail-tb {
      width: 100%;
      padding: 6px;
      font-size: 15px;
      table-layout: fixed;
      tr:nth-child(even) {
        background-color: #dcdee3;
      }

      td {
        padding: 20px;
        text-align: center;
      }

      .icon_action {
        border: none;
        background: none;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 10px;
        padding: 5px;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(2);
        }
      }
    }
  }

  .table-content {
    font-size: 14px;

    .rdt_TableHeadRow {
      background-color: #f8f9fa;
    }

    .rdt_TableCell {
      white-space: normal;
      font-size: 14px;
    }

    .action {
      display: flex;

      .icon_btn {
        border: none;
        background: none;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 10px;
        padding: 5px;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: scale(2);
        }
      }
    }
  }
}