.search-bar {
  width: 100%;
  background-color: azure;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1;
  position: fixed;
  top: 0;
  .container {
    padding: 10px;
    .logo {
      width: 60px;
      height: 60px;
      margin-right: 30px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .search {
      width: 700px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;

      input {
        width: 500px;
        height: 40px;
        border: 2px solid palevioletred;
        border-radius: 5px 0 0 5px;
        padding: 0 10px;
        font-size: 16px;
        margin-left: 100px;
      }

      .btn {
        background-color: palevioletred;
        margin-left: 0;
        margin-right: 0;
        height: 40px;
        width: 100px;
        border: 2px solid palevioletred;
        border-radius: 0 5px 5px 0;
        color: white;
      }
    }

    .other_header {
      margin-left: 120px;
    }

    .cart {
      width: 120px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 10px;
      color: black;
      text-decoration: none;

      .cart_icon {
        margin-right: 10px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .acc {
      width: 120px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #000;
      text-decoration: none;

      .detail {
        width: 100px;
      }

      .acc_icon {
        margin-right: 10px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
