.footer {
    color: rgb(250, 251, 251);
    text-align: center;
  }
  
  .footer-content {
    background-color: rgb(119, 229, 236);
    padding: 20px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  
  .social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }