// .brand_detail img {
//   width: 190px;
// }

// .brand_detail {
//   width: 300px;
//   outline: none;
// }

// .brand_container {
//   width: 100%;
//   margin: 50px auto;
// }


/* Brand.scss */

.titleBrand {
  text-align: center;
  margin-top: 20px;
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

.brand_container {
  width: 80%;
  margin: 0 auto;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brand_row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}

.brand_detail {
  display: block;
  width: 150px; 
  height: 150px;
  overflow: hidden;
  margin: 0 10px; 
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slick-prev, .slick-next {
  width: 30px;
  height: 30px;
  z-index: 1;
}
.slick-prev::before, .slick-next::before {
  font-size: 30px;
  color: black;
}
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}
