.fixed-cart {
  width: 30%;
  margin-left: 20px;

  .box-block {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;

    .box-block-title {
      font-size: 20px;
      font-weight: bold;
    }

    .user-address {
      margin-top: 15px;
      .show-phone-address {
        display: flex;
        justify-content: space-between;
      }

      span {
        font-size: medium;
      }
    }

    .temporary {
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
}
