.footer {
  width: 100%;
  background-color: #71dbf3;
  color: #fff;
  padding: 20px 0; 
  text-align: center; 
}

.footer-content {
  background-color: #71dbf3;
  padding: 0px 0px 10px 0px; 
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.social-links a:hover {
  text-decoration: underline;
}
