html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  background-color: #0d96e1;
  color: #fff;
  margin-top: 20px;
}

.footer-content {
  background-color: #71dbf3;
}

.social-links {
    margin-top: 10px;
  }
  
  .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
