.ptc img {
    width: 55%;
    margin-left: 10%;
    padding: 30px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); 
    width: 70%; 
    height: 120%; 
}

.milk_name {
    color: rgb(255, 60, 0);
}

.back_home {
    margin-top: 30px;
    margin-left: 100px;

    a{
        text-decoration: none;
        color: black;
    }
}

.info {
    margin-top: 5%;
    .brand{
        margin: 30px 0px;
        font-size: 20px;
    }

    .name{
        margin: 30px 0px;
        font-size: 20px;
    }

    .feed_rate{
        margin: 30px 0px;
        font-size: 20px;
    }

    .price{
        margin: 30px 0px;
        font-size: 20px;
    }

    .quantity {
        margin: 30px 0px;
        font-size: 20px;
    }
  
  .add_buy {
    margin: 30px 0px;
    text-align: center;

        .btn_add{
            margin-right:60px ;
            padding: 20px 35px;
            border: 1px solid;
            border-radius: 10px;
            outline: none;
            background-color: rgba(255, 0, 0, 0.948);
            color: white;
            font-size: 15px;
            cursor: pointer;
        }

    .btn_add:hover {
      background-color: rgb(221, 57, 57);
    }
  }
}

.other_detail {
  margin: 30px 200px;
}

.btn {
  margin: 0px 20px;
}
