.product img {
  width: 40%;
}

.star {
  color: orange;
}

.product_detail {
  display: flex;
  margin: 25px 0px;
}

.fillter_container {
  display: flex;
  width: 100%;
}

.type {
  width: 20%;
  margin: 10px 11%;
}

.product {
  text-decoration: none;
  color: black;
}
