.table_confirm {
    width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 10%;
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 10px 5px rgba(199, 194, 194, 0.989); 


    thead {
        background-color: #f8f9fa;
        th {
            padding: 6px; 
            text-align: center;
            font-weight: bold;
            border-bottom: 1px solid #dee2e6;
            font-size: 17px; 
        }
    }

    tbody {
        text-align: center;
        
        tr:nth-of-type(even) {
                background-color: #f2f2f2;
        }

        tr:hover {
                background-color: #e9ecef;
        }

        tr {
        td {
            padding: 7px; 
            border-bottom: 1px solid #dee2e6;
            font-size: 17px; 
        }
            
        .status-cancel {
            color: #dc3545;
        }

        .status-complete {
            color: #28a745;
        }

        .status-pending {
            color: #ffc107;
        }

        .status-delevery {
            color: #a304ff;
        }

        .status-confirm {
            color: #04f0fc;
        }

        .status-dot {
            display: inline-block;
            width: 10px;
            height: 10px; 
            border-radius: 50%;
            margin-right: 5px;
        }
            
        .status-cancel .status-dot {
            background-color: #dc3545;
        }

        .status-complete .status-dot {
            background-color: #28a745;
        }

        .status-pending .status-dot {
            background-color: #ffc107;
        }

        .status-delevery .status-dot {
            background-color: #a304ff;
        }

        .status-confirm .status-dot {
            background-color: #04f0fc;
        }

        .action-btn {
            background: none;
            border: none;
        }
        
        }
    }
}
